/* src/styles/main.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
  height: 12px; /* height of the scrollbar for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* background color of the scrollbar track */
  border-radius: 10px; /* rounding the corners of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 10px; /* rounding the corners of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color when hovering over the scrollbar thumb */
}

.home-dashboardcontent1 {
  display: flex;
  min-height: 410px;
  padding: 5px;
  gap: 5px;
  border: 1px solid #EAECF0;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0px #1018280D;
}
.home-inventoryview {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex-grow: 7;
  max-width: 665px;
  max-height: 390px;
  height:100%;
}
.home-inventoryheader{
  width: 100%;
  min-height: 73px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 0px 14px;
}
.home-titleicon{
  height: 50px;
  width: 50px;
}
.home-titlebox{
  width: 100%;
  height:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-inventorytable{
  width: 100%;
  height: 330px;
  border: 1px solid #EAECF0;
}
.home-stockview {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  flex-grow: 3;
  max-height: 410px;
  border: 1px solid #EAECF0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: #eee;
}

h1,
h2 {
  color: #333;
}

.importmodule .logo {
  width: 150px;
  height: 150px;
  background-color: #aaa;
  border-radius: 15px;
}

.x50 {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.tblProductName {
  padding: 5px;
}

.component5 {
  display: flex;
  margin: 2px;
  align-items: center;
}

.x10 {
  width: 25px;
  height: 25px;
  border-radius: 2px;
  background-color: #aaa;
}

hr {
  width: 100%;
  height: 0.5px;
  margin: 5px;
  background: #aaa;
}

.tblStatusInactive {
  background: #fef6ee;
  mix-blend-mode: multiply;
  border: 1px solid #f9dbaf;
  border-radius: 16px;
  padding: 2px 8px;
  color: #b93815;
  height: 22px;
}
.tblStatusActive {
  height: 22px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background: #ecfdf3;
  mix-blend-mode: multiply;
  border: 1px solid #abefc6;
  border-radius: 16px;
  color: #067647;
  padding: 2px 8px;
}

.tblStatusActive .dot {
  height: 6px;
  width: 6px;
  border-radius: 20px;
  background: #17b26a;
}
.text-title{
  font-size: 18px;
  font-weight: 600;
}
.text-subtitle{
  font-size: 14px;
  font-weight: 400;
}
.chart-legend{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.chart-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-legendbar{
  height: 10px;
  width: 10px;
}
.chart-legendcontent{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.chart-bardata{
  display: flex;
  align-items:center;
}
.chart-totalcontent{
  margin-top: 10px;
}